@theme {
  --color-brown: #2D1B13;
  --color-brown-accent: #4A2E24;

  --color-gold: #A68A56;

  --color-milk: #FDFBF7;
  --color-milk-darker: #F5F1E9;

  --color-text-main: #2D241E;
  --color-text-muted: #7A6F66;

  --color-success: #2E7D32;
  --color-warning: #EF6C00;
  --color-danger: #C62828;
}
