@import "tailwindcss";
@import "./styles/tokens.css";

:root {
  font-family: "Inter", sans-serif;
}

body {
  @apply bg-milk text-text-main;
}

.material-symbols-outlined {
  font-variation-settings:
    "FILL" 0,
    "wght" 400,
    "GRAD" 0,
    "opsz" 24;
}

.glass-card {
  background: rgba(255, 255, 255, 0.4);
  backdrop-filter: blur(8px);
  border: 1px solid rgba(93, 64, 55, 0.1);
}
