@import "tailwindcss";
@import "./styles/tokens.css";

:root {
  font-family: 'Inter', sans-serif;
}

body {
  @apply bg-milk text-text-main;
}

.material-symbols-outlined {
  font-variation-settings:
    'FILL' 0,
    'wght' 400,
    'GRAD' 0,
    'opsz' 24;
}
